@import "cloud";

body, #who {
    background: #1D7A20;
}

.offset0, .row-fluid .offset0, .row .offset0 {
    margin-left: 0px;
}
.hidden {
    display: none;
}
.time {
    font-weight: bold;
}

$header-height: 360px;
$sky-blue: rgb(180,200,240);


header {
    position: absolute;
    top: 0px;
    left: 0px;
    width:100%;
    height: $header-height;
    background-color: $sky-blue;

    $h1-width: 200px;
    $h1-height: 96px;

    #logo, #logo canvas {
        position: absolute;
        width: $h1-width + 16*2px;
        height: $h1-height + 16*2px;
    }
    
    #logo {
        z-index: 2;
        top: 16px;
        left: 16px;

        h1 {
            position: absolute;
            z-index: 2;
            width: $h1-width;
            height: $h1-height;
            margin: 16px;
            text-indent: -9999px;
            background: url('/img/logo.png') no-repeat;
        }

        canvas {
            z-index: 1;
        }
    }
}

#questions {
    position: fixed;
    z-index: 2;
    top: 16px;
    right: 16px;
    list-style: none;
    background: rgba(255,255,255,0.85);
    border-radius: 16px;
    font-size: 24px;

    li {
        display: block;
    }

    li {
        & h4 {
            z-index: 2;
            margin: 0px;

            & a {
                display: block;
                width: 64px;
                padding: 8px 16px;
                color: darken($sky-blue, 30);
                text-decoration: none;
                text-align: right;
                
                &:hover {
                    color: darken($sky-blue, 50);
                }
                &:active {
                    top: 1px;
                }
            }
        }
    }
}


#canvas {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    background-color: rgba(255,255,255,0);
}

#content {
    margin-top: $header-height;
    background: rgba(0, 100, 0, 0.85);

    h2 {
        & em {
            font-style: normal;
            color: #333;
            text-shadow: 0px 1px 0px #fff;
        }
    }

    #who, #what, #when, #where, #why, #how {
        overflow: hidden;
        padding: 16px 16px 32px;
    }
    #who, #when, #why {
        color: #fff;
        text-shadow: 0px 1px 0px #000;
    }
    #what, #where, #how {
        color: #000;
        text-shadow: 0px 1px 0px #fff;
    }

    #who {
    }
    #what {
        background: #fff url('/img/grey.png') repeat;
    }
    #when {
        background: rgba(160, 0, 0, 0.85);
    }
    #where {
        background: url('/img/lightpaperfibers.png');
    }
    #why {
        background: darken($sky-blue, 50%);
    }
    #how {
        background: url('/img/concrete_wall_3.png') repeat;
    }
}

$box-length: 96px;

#who h3 small {
    display: block;
    margin-top: 12px;
    color: #ccc;
}

#team {
    list-style: none;
    overflow: hidden;
    max-width: 3 * $box-length;

    li {
        background: #000;
    }
    
    li, li > a, li > a img {
        display: block;
        float: left;
        width: $box-length;
        height: $box-length;
    }

    li > a {

        &:hover, &.active {
            h5 {
                margin: 0px;
                display: block;
            }
            img {
                opacity: 1.0;
            }
        }

        h5 {
            z-index: 2;
            display: none;
            position: absolute;
            width: $box-length;
            text-align: center;
            background: rgba(0,0,0,0.75);
            color: #fff;
        }

        img {
            position: absolute;
            opacity: 0.75;
        }
    }
}

#bike {
    display: block;
    clear: both;
    margin: 0px auto;
}

div.month {
    margin-right: $gridGutterWidth;

    table.calendar {
        display: block;
        margin: 0px;
        color: #000;
        text-shadow: none;
        background: #fff url('/img/lightpaperfibers.png');

        thead {
            font-weight: bold;
            background: rgba(200,200,200,0.5);
        }

        td {
            text-align: center;
            width: 32px;
            height: 32px;
            border: 1px solid #ccc;

            &.trip {
                background: rgba(0, 100, 0, 0.5);
            }
        }
    }
}




// The Map

$map-width: 720px + 2*32px;

#map {
    top: 0;
    left: 50%;
    position: absolute;
    margin: 0 0 0 -1*$map-width/2;
    width: $map-width;
    height: $header-height;
}

#trails, #symbols {
    position: absolute;
    top: 16px;
    width: 180px;
    background: rgba(255,255,255,0.5);
    padding: 8px;

    .toggle {
        display: block;
        position: relative;
        background: #fff;
        color: #000;
        text-decoration: none;
        padding: 4px 8px;
        text-align: center;

        &:hover {
            background: #000;
            color: #fff;
        }
        &:active {
            top: 1px;
        }
    }

    & > div {
        overflow: hidden;

        &:hover {
            background: #fff;
        }
        
        input, label, a {
            padding: 4px;
        }

        input[type="checkbox"] {
            margin: 10px 8px 0 0;
            float: right;
        }

        label {
            float: left;
            width: 140px;
        }
    }
}

#trails {
    left: 16px;
}

#symbols {
    right: 16px;
}

h2 #radius {
    font-size: inherit;
    font-family: mono;
    width: 2em;
    text-align: center;
}

.map {
    width: 100%;
    height: auto;
}