@font-face
{
  font-family: 'Neo Sans';
  src: url('/font/neo-sans.ttf');
}

body {
  font-family: 'Neo Sans';
}

/* style the numbers */
#cards {
  color: #ccc;
}

#cards li {
  background: url('/img/notecard.jpg');
}

#cards h2 {
  color: #000;
  width: 480px;
  height: 280px;
}