#bios a {
  position: relative;
  color: #ccc;
}
#bios a:active {
  top: 1px;
}
#bios p {
  clear: both;
}

#slogan {
  position: absolute;
  z-index: 1;
  font-size: 32px;
	margin: 128px 0 16px 16px;
  line-height: 1;
  color: #000;
  text-shadow: 0px 1px 0px #fff;
}

#slogan em {
  color: #990000;
}