* {
    margin: 0px;
    padding: 0px;
}

html {
}

body {
    background-image: url('/img/grass-64.png');
    font-family: "Lato";
    font-size: 16px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5 {
    font-family: "Signika";
}

h1 { font-size: 48px; }
h2 { font-size: 32px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }

$header-height: 440px;
$sky-blue: rgb(180,200,240);

header {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    width:100%;
    height: $header-height;
    background-color: $sky-blue;

    #questions {
        position: absolute;
        top: 16px;
        right: 16px;
        list-style: none;
        background: #fff;
        border-radius: 16px;

        li {
            float: left;

            a {
                position: relative;
                display: block;
                padding: 8px 16px;
                color: darken($sky-blue, 20);
                text-decoration: none;
                
                &:hover {
                    color: darken($sky-blue, 30);
                }
                &:active {
                    top: 1px;
                }
            }
        }
    }
    
    h1 {
        background: #fff;
        border-radius: 0 0 16px 0;
        display: inline;
        padding: 16px;
    }
}

#canvas {
    position: absolute;
    z-index: 0;
    height: $header-height;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(255,255,255,0);
}

$map-width: 720px + 2*32px;

#map {
    top: 0;
    left: 50%;
    position: absolute;
    margin: 0 0 0 -1*$map-width/2;
    width: $map-width;
    height: $header-height;
}

#trails, #symbols {
    position: absolute;
    top: 16px;
    width: 180px;
    background: rgba(255,255,255,0.5);
    padding: 8px;

    .toggle {
        display: block;
        position: relative;
        background: #fff;
        color: #000;
        text-decoration: none;
        padding: 4px 8px;
        text-align: center;

        &:hover {
            background: #000;
            color: #fff;
        }
        &:active {
            top: 1px;
        }
    }

    & > div {
        overflow: hidden;


        &:hover {
            background: #fff;
        }
        
        input, label, a {
            padding: 4px;
        }

        input[type="checkbox"] {
            margin: 10px 8px 0 0;
            float: right;
        }

        label {
            float: left;
            width: 140px;
        }
    }
}

#trails {
    left: 16px;
}

#symbols {
    right: 16px;
}

h2 #radius {
    font-size: inherit;
    font-family: mono;
    width: 2em;
    text-align: center;
}


.map {
    width: 100%;
    height: auto;
}

#bike {
    display: block;
    clear: both;
    margin: 0px auto;
}

.pill-link {
    position: relative;
    margin-top: 16px;
    background: #fff;
    padding: 4px 16px;
    border-radius: 16px;
    font-size: 18px;
    text-decoration: none;
    color: #000;

    &:hover {
        color: darken($sky-blue, 20);
    }
    
    &:active {
        top: 1px;
    }
}

#content {
    max-width: 720px;
    padding: 32px;
    margin: $header-height auto 32px;
    background-color: rgba(255,255,255,0.5);
    position: relative;
    z-index: 1;

    & p {
        margin-bottom: 16px;
    }

    & > div {
        padding: 16px 32px;

        & > ul, & > ol {
            margin-left: 16px;
        }

        & > h2 {
            & em {
                font-style: normal;
                color: #333;
            }
        }
    }
}

#team {
    list-style: none;
    overflow: hidden;
    
    li {
        float: left;
        margin: 8px;
    }
}