* {
  margin: 0px;
  padding: 0px; }

body {
  background-image: url("/img/grass-64.png");
  font-family: "Lato";
  font-size: 16px;
  line-height: 1.5; }

h1, h2, h3, h4, h5 {
  font-family: "Signika"; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 18px; }

header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 440px;
  background-color: #b4c8f0; }
  header #questions {
    position: absolute;
    top: 16px;
    right: 16px;
    list-style: none;
    background: #fff;
    border-radius: 16px; }
    header #questions li {
      float: left; }
      header #questions li a {
        position: relative;
        display: block;
        padding: 8px 16px;
        color: #5f8adf;
        text-decoration: none; }
        header #questions li a:hover {
          color: #346ad6; }
        header #questions li a:active {
          top: 1px; }
  header h1 {
    background: #fff;
    border-radius: 0 0 16px 0;
    display: inline;
    padding: 16px; }

#canvas {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0); }

#map {
  top: 0;
  left: 50%;
  position: absolute;
  margin: 0 0 0 -392px;
  width: 784px;
  height: 440px; }

#trails, #symbols {
  position: absolute;
  top: 16px;
  width: 180px;
  background: rgba(255, 255, 255, 0.5);
  padding: 8px; }
  #trails .toggle, #symbols .toggle {
    display: block;
    position: relative;
    background: #fff;
    color: #000;
    text-decoration: none;
    padding: 4px 8px;
    text-align: center; }
    #trails .toggle:hover, #symbols .toggle:hover {
      background: #000;
      color: #fff; }
    #trails .toggle:active, #symbols .toggle:active {
      top: 1px; }
  #trails > div, #symbols > div {
    overflow: hidden; }
    #trails > div:hover, #symbols > div:hover {
      background: #fff; }
    #trails > div input, #trails > div label, #trails > div a, #symbols > div input, #symbols > div label, #symbols > div a {
      padding: 4px; }
    #trails > div input[type="checkbox"], #symbols > div input[type="checkbox"] {
      margin: 10px 8px 0 0;
      float: right; }
    #trails > div label, #symbols > div label {
      float: left;
      width: 140px; }

#trails {
  left: 16px; }

#symbols {
  right: 16px; }

h2 #radius {
  font-size: inherit;
  font-family: mono;
  width: 2em;
  text-align: center; }

.map {
  width: 100%;
  height: auto; }

#bike {
  display: block;
  clear: both;
  margin: 0px auto; }

.pill-link {
  position: relative;
  margin-top: 16px;
  background: #fff;
  padding: 4px 16px;
  border-radius: 16px;
  font-size: 18px;
  text-decoration: none;
  color: #000; }
  .pill-link:hover {
    color: #5f8adf; }
  .pill-link:active {
    top: 1px; }

#content {
  max-width: 720px;
  padding: 32px;
  margin: 440px auto 32px;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative; }
  #content p {
    margin-bottom: 16px; }
  #content > div {
    padding: 16px 32px; }
    #content > div > ul, #content > div > ol {
      margin-left: 16px; }
    #content > div > h2 em {
      font-style: normal;
      color: #333; }

#team {
  list-style: none;
  overflow: hidden; }
  #team li {
    float: left;
    margin: 8px; }
