* {
    margin: 0px;
    padding: 0px;
    line-height: 1.5;
}

html {
}

body {
    background-image: url('/img/grass-64.png');
    font-family: "Lato";
    font-size: 16px;
}

h1, h2, h3, h4, h5 {
    font-family: "Signika";
}

h1 { font-size: 48px; }
h2 { font-size: 32px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }

$header-height: 480px;

header {
    top: 0px;
    left: 0px;
    width: 100%;
    height: $header-height;
    background-color: rgba(180,200,240,1.0);

    #questions {
        float: right;
        list-style: none;
        background: #fff;

        li {
            float: left;

            a {
                display: block;
                padding: 8px 16px;
            }
        }
    }
}

#canvas {
    top: 0px;
    left: 0px;
    background-color: rgba(255,255,255,0);
    position: absolute;
    z-index: 0;
}

.map {
    width: 100%;
    height: auto;
}

#content {
    max-width: 720px;
    padding: 32px;
    margin: 0px auto;
    position: relative;
    z-index: 1;

    & > div {
        background-color: rgba(255,255,255,0.5);
        padding: 32px;

        & > ul {
            margin-left: 16px;
        }

        & > h2 {

        }
    }
}