* {
  margin: 0px;
  padding: 0px;
  line-height: 1.5; }

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 120px;
  background-color: #b4c8f0; }
  header #questions {
    float: right;
    list-style: none;
    background: #fff; }
    header #questions li {
      float: left; }
      header #questions li a {
        display: block;
        padding: 8px 16px; }

#canvas {
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0);
  position: absolute; }

#content {
  background-image: url("/img/grass-64.png");
  width: 50%;
  padding: 0 25%;
  margin-top: 120px; }
  #content > div {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 32px; }
    #content > div > h2 {
      background-color: white; }

#map {
  width: 100%;
  height: auto; }
