* {
    margin: 0px;
    padding: 0px;
}

html {
}

body {
    background-image: url('/img/grass-64.png');
    font-family: "Lato";
    font-size: 16px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5 {
    font-family: "Signika";
}

h1 { font-size: 48px; }
h2 { font-size: 32px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }

$header-height: 440px;
$sky-blue: rgb(180,200,240);

header {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    width:100%;
    height: $header-height;
    background-color: $sky-blue;

    #questions {
        position: absolute;
        top: 16px;
        right: 16px;
        list-style: none;
        background: #fff;
        border-radius: 16px;

        li {
            float: left;

            a {
                position: relative;
                display: block;
                padding: 8px 16px;
                color: darken($sky-blue, 20);
                text-decoration: none;
                
                &:hover {
                    color: darken($sky-blue, 30);
                }
                &:active {
                    top: 1px;
                }
            }
        }
    }
    
    h1 {
        background: #fff;
        border-radius: 0 0 16px 0;
        display: inline;
        padding: 16px;
    }
}

#canvas {
    position: absolute;
    z-index: 0;
    height: $header-height;
    top: 0px;
    left: 0px;
    background-color: rgba(255,255,255,0);
}

#map {
    top: 0;
    left: 50%;
    position: absolute;
    margin: 0 0 0 -360px;
    width: 720px;
    height: $header-height;
}

.map {
    width: 100%;
    height: auto;
}

#bike {
    display: block;
    clear: both;
    margin: 0px auto;
}

.blog {
    position: relative;
    margin-top: 16px;
    background: #fff;
    padding: 4px 16px;
    border-radius: 16px;
    font-size: 18px;
    text-decoration: none;
    color: #000;

    &:hover {
        color: darken($sky-blue, 20);
    }
    
    &:active {
        top: 1px;
    }
}

#content {
    max-width: 720px;
    padding: 32px;
    margin: $header-height auto 32px;
    background-color: rgba(255,255,255,0.5);
    position: relative;
    z-index: 1;

    & p {
        margin-bottom: 16px;
    }

    & > div {
        padding: 16px 32px;

        & > ul, & > ol {
            margin-left: 16px;
        }

        & > h2 {
            & em {
                font-style: normal;
                color: #333;
            }
        }
    }
}