* {
  margin: 0px;
  padding: 0px; }

body {
  background-image: url("/img/grass-64.png");
  font-family: "Lato";
  font-size: 16px;
  line-height: 1.5; }

h1, h2, h3, h4, h5 {
  font-family: "Signika"; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 18px; }

header {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 440px;
  background-color: #b4c8f0; }
  header #questions {
    position: absolute;
    top: 16px;
    right: 16px;
    list-style: none;
    background: #fff;
    border-radius: 16px; }
    header #questions li {
      float: left; }
      header #questions li a {
        position: relative;
        display: block;
        padding: 8px 16px;
        color: #5f8adf;
        text-decoration: none; }
        header #questions li a:hover {
          color: #346ad6; }
        header #questions li a:active {
          top: 1px; }
  header h1 {
    background: #fff;
    border-radius: 0 0 16px 0;
    display: inline;
    padding: 16px; }

#canvas {
  position: absolute;
  z-index: 0;
  height: 440px;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0); }

.map {
  width: 100%;
  height: auto; }

#bike {
  display: block;
  clear: both;
  margin: 0px auto; }

.blog {
  position: relative;
  margin-top: 16px;
  background: #fff;
  padding: 4px 16px;
  border-radius: 16px;
  font-size: 18px;
  text-decoration: none;
  color: #000; }
  .blog:hover {
    color: #5f8adf; }
  .blog:active {
    top: 1px; }

#content {
  max-width: 720px;
  padding: 32px;
  margin: 440px auto 32px;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  z-index: 1; }
  #content p {
    margin-bottom: 16px; }
  #content > div {
    padding: 16px 32px; }
    #content > div > ul, #content > div > ol {
      margin-left: 16px; }
    #content > div > h2 em {
      font-style: normal;
      color: #333; }
